<!DOCTYPE html>
<html>
<header>
    <title>Data Edit</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data_input.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <style>
        
    </style>
</header>

<body>
    {% include 'navigation.html' %}
    
    
    <div class="page-container">
        <div class="dual-form-container">

            <!-- Rechtes Formular: Datensatz einfügen -->
            <form class="form-box" method="post">
                <h3>Datensatz einfügen</h3>

                <!--<label>ID:</label>-->
                <!--<input type="text" name="id">-->
                <div class="table-input">
                    <div>
                        <label>IBAN Auftragskonto:</label>
                        <input type="text" name="txt_iban_auftragskonto_insert">
                    </div>
                    <div>
                        <label>IBAN Zahlungsbeteiligter:</label>
                        <input type="text" name="txt_iban_zahlungsbeteiligter_insert">
                    </div>
                    <div>
                        <label>Name Zahlungsbeteiligter:</label>
                        <input type="text" name="txt_name_zahlungsbeteiligter_insert">
                    </div>
                </div>
                <div class="table-input">
                    <div>
                        <label>Verwendungszweck:</label>
                        <input type="text" name="txt_verwendungszweck_insert">
                    </div>
                    <div>    
                        <label>Betrag:</label>
                        <input type="text" name="txt_betrag_insert">
                    </div>
                    <div>
                        <label>Saldo nach Buchung:</label>
                        <input type="text" name="txt_saldo_nach_buchung_insert">
                    </div>
                </div>
                <div class="table-input">
                    <div>
                        <label>Transaktionsdatum:</label>
                        <input type="date" name="txt_transaktionsdatum_insert">
                    </div>
                    <div>
                        <label>Buchungsart ID:</label>
                        <input type="text" name="txt_buchungsart_insert">
                    </div>
                    <div>
                        <label>Kategorie ID:</label>
                        <input type="text" name="txt_kategorie_insert">
                    </div>
                </div>
                <div class="table-input">
                    <div>
                        <label>Bemerkung:</label>
                        <input type="text" name="txt_bemerkung_insert">
                    </div>
                </div>
                <div class="table-input">
                    <button type="submit" class="btn-blue" name="btn_insert" value="insert">Datensatz einfügen</button>
                </div>
            </form>
        </div>


        <form method="post" enctype="multipart/form-data">
            <div class="upload-container">
                <label for="csvUpload">CSV hochladen:</label>
                <input type="file" name="file_csv_Upload" id="csv_upload" accept=".csv">
                <button class="btn-style" type="submit" name="btn_upload" value="upload">Upload</button>
            </div>
        </form>
    </div>
</body>
</html>
