<!DOCTYPE html>
<html>
    <header>
        <title>Data Edit</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/data_edit.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menue/filter.css') }}">
    </header>
    <style>



        

    </style>
    <body>
        {% include 'navigation.html' %}
        <div class="main-container">
            {% include 'menue/filter.html' %}
            <!-- Linkes Formular: Filter -->
            <form class="form-box" method="post">
                <h3>Filter</h3>

                <label>ID:</label>
                <input type="text" name="txt_id_filter">

                <label>IBAN Auftragskonto:</label>
                <input type="text" name="txt_iban_auftragskonto_filter">

                <label>IBAN Zahlungsbeteiligter:</label>
                <input type="text" name="txt_iban_zahlungsbeteiligter_filter">

                <label>Name Zahlungsbeteiligter:</label>
                <input type="text" name="txt_name_zahlungsbeteiligter_filter">

                <label>Verwendungszweck:</label>
                <input type="text" name="txt_verwendungszweck_filter">

                <label>Betrag:</label>
                <input type="text" name="txt_betrag_filter">

                <label>Saldo nach Buchung:</label>
                <input type="text" name="txt_saldo_nach_buchung_filter">

                <label>Transaktionsdatum von:</label>
                <input type="date" name="txt_transaktionsdatum_von_filter">

                <label>Transaktionsdatum bis:</label>
                <input type="date" name="txt_transaktionsdatum_bis_filter">

                <label>Buchungsart:</label>
                <input type="text" name="txt_buchungsart_filter">

                <label>Kategorie:</label>
                <input type="text" name="txt_kategorie_filter">

                <label>Bemerkung:</label>
                <input type="text" name="txt_bemerkung_filter">

                <button type="submit" class="btn-green" name="btn_filter" value="filter">Filter anwenden</button>
            </form>

            <div class="table-wrapper">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IBAN_Auftragskonto</th>
                        <th>IBAN_Zahlungsbeteiligter</th>
                        <th>Verwendungszweck</th>
                        <th>Betrag</th>
                        <th>Saldo_n_Buchung</th>
                        <th>Datum</th>
                        <th>Buchungsart</th>
                        <th>Kategorie</th>
                        <th>Bemerkung</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{ row.ID }}</td>
                        <td>{{ row.IBAN_Auftragskonto }}</td>
                        <td>{{ row.IBAN_Zahlungsbeteiligter }}</td>
                        <td>{{ row.Verwendungszweck }}</td>
                        <td>{{ row.Betrag }}</td>
                        <td>{{ row.Saldo_nach_Buchung }}</td>
                        <td>{{ row.Transaktions_Datum }}</td>
                        <td>{{ row.Buchungsart}}</td>
                        <td>{{ row.Kategorie}}</td>
                        <td>{{ row.Bemerkung}}</td>
                        <td><button class="btn-style edit-btn"> 
                            <img src="img/recyclebin.png" class="btn-icon">
                        </button>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </body>
</html>