<!DOCTYPE html>
<html>
    <header>
        <title>Data Edit</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/data_edit.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/menue/filter.css') }}">
    </header>
    <style>



        

    </style>
    <body>
        {% include 'navigation.html' %}
        <div class="main-container">
            {% include 'menue/filter.html' %}
            <div class="table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>IBAN_Auftragskonto</th>
                            <th>IBAN_Zahlungsbeteiligter</th>
                            <th>Verwendungszweck</th>
                            <th>Beitrag</th>
                            <th>Saldo_n_Buchung</th>
                            <th>Datum</th>
                            <th>Buchungsart_ID</th>
                            <th>Kategorie</th>
                            <th>Bemerkung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Beispiel A</td>
                            <td>123</td>
                            <td>2024-01-10</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Beispiel B</td>
                            <td>456</td>
                            <td>2024-02-15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>