<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <h1>Login für Finanzapp</h1>
        <div class="login-container">
            {% if error %}
                <div class="error-box">
                    {{ error }}
                </div>
            {% endif %}
            <form action="/login" method="POST">
                <div class="form-input-label">Email</div>
                <input type="text" name="email" class="form-input">
                <div class="form-input-label">Passwort</div>
                <input type="password" name="password" class="form-input">
                <br>
                <button type="submit" class="login-btn">Login</button>
            </form>       
        </div>
        <div class="registrier-container">
            Noch nicht Registriert?
            <a href="{{ url_for('registration') }}"> Hier Registrieren</a>
        </div>
    </body>
</html>