<!DOCTYPE html>
<html>
    <header>
        <title>Sign Up</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
    </header>
    <body style="align-content: center;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <div class="signup-container">
                <br>
                <div class="signin-container">
                    <div class="form-input-label">Sign Up:</div>
                    <br>
                    <label class="form-error-label" name="lblInfo">{{ lblInfo }}</label>         
                    <form action="/sign_up" method="POST">

                    <div class="form-input-label">Vorname:</div>
                    <input type="text" name="txt_vorname" class="form-input">
                    
                    <div class="form-input-label">Nachname:</div>
                    <input type="text" name="txt_nachname" class="form-input">

                    <div class="form-input-label">eMail:</div>
                    <input type="text" name="txt_email" class="form-input">

                    <div class="form-input-label">Passwort:</div>
                    <input type="password" name="txt_password" class="form-input">

                    <div class="form-input-label">Passwort bestätigen:</div>
                    <input type="password" name="txt_best_password" class="form-input">

                    <button class="signin-btn">Sign Up</button>
                </div>
            </div>
    </body>
</html>